<div class="mb-4">
  <h1>Welcome to the K10 Store!</h1>
</div>


<div class="row">
  <div class="col">
    <p>
      Welcome to the demo app store. To get start using the app, please take the following steps
    </p>
    <ol>
      <li>Go to register to make yourself an account</li>
      <li>Head over to the store to buy some items (add them to the basket)</li>
      <li>Finish your order by going to checkout.</li>
      <li>Once you've completed your order, you can verify your orders in the relevant section or create a new order by going to the store and buy more</li>
    </ol>
    <p>
      If you feel like hacking the catalog, head over to <a href="./catalog/admin">the unsecured admin portal</a>
    </p>
  </div>
  <div class="col">
    <img src="../../../assets/logo.png">
  </div>
</div>
