<div class="mb-4">
  <h1>Welcome to the K10 Store!</h1>
</div>


<div class="row">
  <div class="col">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
      magna aliqua. Cursus eget nunc scelerisque viverra mauris in. Suspendisse potenti nullam ac tortor vitae purus
      faucibus. Lorem ipsum dolor sit amet consectetur adipiscing elit pellentesque. Purus gravida quis blandit turpis
      cursus in hac habitasse platea. Ac orci phasellus egestas tellus. Aenean euismod elementum nisi quis eleifend quam
      adipiscing vitae proin. Consectetur adipiscing elit duis tristique sollicitudin nibh sit amet commodo. Quisque sagittis
      purus sit amet. Fermentum odio eu feugiat pretium nibh ipsum.

      Tincidunt arcu non sodales neque sodales ut etiam sit. A pellentesque sit amet porttitor eget dolor morbi. Donec
      adipiscing tristique risus nec. Eleifend mi in nulla posuere sollicitudin aliquam ultrices sagittis orci. Neque
      volutpat ac tincidunt vitae semper quis lectus. Eu mi bibendum neque egestas. Lacus suspendisse faucibus interdum
      posuere. Congue nisi vitae suscipit tellus mauris. Tortor aliquam nulla facilisi cras fermentum. In arcu cursus euismod
      quis viverra nibh cras pulvinar mattis. Velit egestas dui id ornare arcu odio ut sem. Enim tortor at auctor urna nunc id
      cursus metus aliquam. Pellentesque diam volutpat commodo sed egestas egestas fringilla.</p>
  </div>
  <div class="col">
    <img src="../../../assets/pexels-marta-branco-1194713.jpg">
  </div>
</div>
