<form [formGroup]="registerForm" (ngSubmit)="registerProcess()">
  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12 mx-auto">
      <div class="card">
        <div class="card-body">
          <div class="card-title">
            <h5>Register</h5>
          </div>
          <div class="form-group mb-2">
            <label for="username">Username</label>
            <input type="text" class="form-control" name="username" id="username" formControlName="login">
          </div>
          <div class="form-group mb-2">
            <label for="email">Email</label>
            <input type="email" class="form-control" name="username" id="email" formControlName="email">
          </div>
          <div class="form-group mb-2">
            <label for="password">Password</label>
            <input type="password" class="form-control" name="username" id="password" formControlName="password">
          </div>
          <div class="form-group mb-2">
            <label for="confirm">Confirm Password</label>
            <input type="password" class="form-control" name="username" id="confirm">
          </div>
          <div class="row mt-2">
            <div class="col">
              <input type="submit" value="Enter" class="btn btn-primary">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</form>
